<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5" id="about">
            <div class="home-bg">
                <div class="home-intro">
                 <h2 class="text-light">Harneet's Portfolio</h2>
                 <h4 class="text-light">Web Design & Development</h4>
                 <div class="text-light">
                    I create interactive websites that are unique, visually appealing and contain engaging content written specifically for web audiences. Web creation is more than just coding. I work with the 'bigger picture' in mind, that includes a concerted focus on performance, aesthetics, user experience and interaction, social media engagement and web presence optimization.
                 </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-5" id="skill">
           <div class="container-fluid">
               <h2 class="text-center">
                   SKILL
               </h2>
               <div class="row">
                   <div class="col-md-4 col-sm-12">
                       <div class="card">
                         <img class="card-img-top" height="300" src="/img/js.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">I'm familiar with basics of Javascript frameworks and can create programs that can make GUI changes with the codes.</p>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="card" >
                         <img class="card-img-top" height="300" src="/img/html5.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">I'm working on HTML from last couple years now and have developed my skills in it, along with designing which includes CSS. I can create basic websites with HTML and CSS</p>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="card">
                         <img class="card-img-top" height="300" src="/img/swift-og.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">I have learned swift language with this I can develop applications that run on ios devices and working with swift is so easy and i always enjoy when working on swift projects</p>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div>

        <div class="col-12 mt-5" id="projects">
           <div class="container-fluid">
               <h2 class="text-center">
                   PROJECT
               </h2>
               <div class="row">
                   <div class="col-md-4 col-sm-12">
                       <div class="card">
                         <img class="card-img-top" height="300" src="/img/javascript-illustration.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">I started learning Javascript in college and in basics I learned how javascript make chnages to webpages using different ways, one of them was DOM and now i'm learning frameworks of JS which are ExpressJs, Node.js</p>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="card" >
                         <img class="card-img-top" height="300" src="/img/html_css_js.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">I made website which includes information about me and my projects, I used my kowledge of HTML and Css to create the website and I hosted it locally on my wamp server.</p>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="card">
                         <img class="card-img-top" height="300" src="/img/Apple-Swift.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Recently I have developed swift app which stores bank account data and store all properties for the consumer and another application for loan which works with all functionality of user end.</p>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div>

        <div class="col-12 mt-5 p-5" id="contact">
        <h1 class="text-center h1 mt-5 text-uppercase">Feel Free To Contact with me</h1>
            <div class="row">
                <div class="col-6">
                    <form action="" method="post">
                        <div class="row">
                          <div class="col-12">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input class="form-control" type="text" name="name" id="">
                                </div> 

                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input class="form-control"  type="text" name="email" id="">
                                </div> 

                                <div class="form-group">
                                    <label for="">Message</label>
                                    <textarea class="form-control" ></textarea>
                                </div> 

                                <div class="form-group text-right">
                                    <button class="btn btn-primary">Send</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <img src="/img/avatar.jpg" class="rounded-circle" alt="Responsive image" height="100" width="100">
                    <div>Computer programming student at Gerogian College, Barrie, ON. I live pets, music and tourism.</div>
                   <div class="d-flex">
                    <a class="text-dark nav-link" href="http://"> <img src="https://img.icons8.com/ios-glyphs/30/000000/facebook.png"/> </a>
                    <a class="text-dark nav-link" href="http://"> <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter.png"/> </a>
                    <a class="text-dark nav-link" href="http://"> <img src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png"/> </a>
                    <a class="text-dark nav-link" href="http://"> <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png"/> </a>
                   </div>
                    
                </div>
            </div>
        </div>

        <div class="col-12 mt-5 p-5 bg-dark" id="footer">
             <div class="text-center text-light">
                 2021 copyright@PORTFOLIO
             </div>
        </div>


    </div>
</div>

