<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5" id="about">
            <div class="home-bg">
                <div class="home-intro">
                 <h2 class="text-light">Jess Gilfillan</h2>
                 <h4 class="text-light">Web Design & Development</h4>
                 <div class="text-light">
                    I create interactive websites that are unique, visually appealing and contain engaging content written specifically for web audiences. Web creation is more than just coding. I work with the 'bigger picture' in mind, that includes a concerted focus on performance, aesthetics, user experience and interaction, social media engagement and web presence optimization.
                 </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-5" id="skill">
           <div class="container-fluid">
               <h2 class="text-center">
                   SKILL
               </h2>
               <div class="row">
                   <div class="col-md-4 col-sm-12">
                       <div class="card">
                         <img class="card-img-top" src="/img/js.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, soluta. Quis inventore dolor officia, ratione quod molestias aut vitae quas ipsam facilis maxime repellendus quam sed esse alias ad voluptate.</p>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="card" >
                         <img class="card-img-top" src="/img/js.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, soluta. Quis inventore dolor officia, ratione quod molestias aut vitae quas ipsam facilis maxime repellendus quam sed esse alias ad voluptate.</p>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="card">
                         <img class="card-img-top" src="/img/js.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, soluta. Quis inventore dolor officia, ratione quod molestias aut vitae quas ipsam facilis maxime repellendus quam sed esse alias ad voluptate.</p>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div>

        <div class="col-12 mt-5" id="projects">
           <div class="container-fluid">
               <h2 class="text-center">
                   PROJECT
               </h2>
               <div class="row">
                   <div class="col-md-4 col-sm-12">
                       <div class="card">
                         <img class="card-img-top" src="/img/js.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, soluta. Quis inventore dolor officia, ratione quod molestias aut vitae quas ipsam facilis maxime repellendus quam sed esse alias ad voluptate.</p>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="card" >
                         <img class="card-img-top" src="/img/js.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, soluta. Quis inventore dolor officia, ratione quod molestias aut vitae quas ipsam facilis maxime repellendus quam sed esse alias ad voluptate.</p>
                            </div>
                        </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="card">
                         <img class="card-img-top" src="/img/js.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, soluta. Quis inventore dolor officia, ratione quod molestias aut vitae quas ipsam facilis maxime repellendus quam sed esse alias ad voluptate.</p>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div>

        <div class="col-12 mt-5 p-5" id="contact">
        <h1 class="text-center h1 mt-5 text-uppercase">Feel Free To Contact with me</h1>
            <div class="row">
                <div class="col-6">
                    <form action="" method="post">
                        <div class="row">
                          <div class="col-12">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input class="form-control" type="text" name="name" id="">
                                </div> 

                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input class="form-control"  type="text" name="email" id="">
                                </div> 

                                <div class="form-group">
                                    <label for="">Message</label>
                                    <textarea class="form-control" ></textarea>
                                </div> 

                                <div class="form-group text-right">
                                    <button class="btn btn-primary">Send</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <img src="/img/avatar.jpeg" class="rounded-circle" alt="Responsive image" height="100" width="100">
                    <div>Front End Web Developer in Barrie, Ontario. Lover of Design. Social Media Enthusiast. Yoga Fan. Basset Hound Momma. Hat Knitter</div>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="col-12 mt-5 p-5 bg-dark" id="footer">
             <div class="text-center text-light">
                 2021 copyright@PORTFOLIO
             </div>
        </div>


    </div>
</div>

